/* --------------------head----------------------------- */
body{
	margin:0 0 0 0;
	font-family: 'Verdana';
	min-width:800px;
	overflow: scroll;
	background: #3b3b3b;
	color:#ffffff;
}
#father{
    width: 100%;
    min-height:calc(100vh - 60px);
}
#site{
    width: 80%;
    margin-left: 10%;
    background: #3b3b3b;
	padding: 100px 0 20px 0;
}
div{
	text-align: center;
}
table{
	width:100%;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 20px;
	padding:10px;
}
td{
	padding:15px;
}
.shadow-none{
	box-shadow: none;
}
a{
	color:#FFFFFF;
	cursor: pointer;
}
header{
	background-color: #ffffff;
	height: 80px;
	width:	100%;
	margin-left:-10%;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.4) ;
	position: fixed;
	top:0;
	z-index: 500;
	overflow:hidden;
}
.menu-box{
	text-align:left;
	width:80%;
	margin-left:10%;
}
footer{
	height: 60px;
	border-top: #CD3232 5px groove;
	min-width:800px;
	z-index: 500;
	width:	100%;
	background: #ffffff url(../images/botlogo.png);
	background-size: contain;
	background-position: 100% 0%;
	background-repeat: no-repeat;
	text-align:center;
	padding-top:10px;
}
footer div{
	font-size: 14px;
	display: inline;
	color:#3b3b3b;
	margin-left:10px;
	font-weight:800;
}

ul.menu {
	width:100%;
	display: inline-block; /* iicaieyai vertical-align au?aaieaaou naay ii aa?oeeaee */
	vertical-align: bottom;
	list-style: none; /*oae?aai ia?ea?u nienea*/
	background:#cd3232; /*aiaaaeyai oii anaio iai?*/
	height: 40px; /*caaaai aunioo*/
	padding-left:0px;
}
ul.menu a {
	text-decoration: none; /*oae?aai iia?a?eeaaiea oaenoa nnueie*/
	background:#cd3232; /*aiaaaeyai oii e ioieoo iai?*/
	color:#fff; /*iaiyai oaao nnueie*/
	font-family: arial; /*iaiyai o?eoo*/
	line-height:40px; /*?iaiyai iai? ii aa?oeeaee*/
	display: block;
	border-right: 1px solid #952323; /*aiaaaeyai ai?a?? ni?aaa*/
	-moz-transition: all 0.3s 0.01s ease; /*aaeaai ieaaiue ia?aoia*/
	-o-transition: all 0.3s 0.01s ease;
	-webkit-transition: all 0.3s 0.01s ease;
	width:100%;
	text-align:center;
}
#mobi{
background: #3b3b3b url(../images/phone.png) no-repeat;
	background-size: contain;
	padding-left:40px;
}
ul.menu a:hover,#mobi:hover {
	background-color:#3b3b3b;/*aiaaaeyai yooaeo i?e iaaaaaiee*/
}
ul.menu li {
	display: inline-block; /* iicaieyai vertical-align au?aaieaaou naay ii aa?oeeaee */
	vertical-align: middle;
	float: left;
	width:25%;
}
@media (min-width: 1100px) { /* это будет показано при разрешении монитора до 1150 пикселей */
#caption{
	font-size:200%;
	color:#3B3B3B;
	float:left;
	background-color:#ffffff;
	padding-top:16px;
	width:calc( 100% - 80px );
	overflow:hidden;
	text-overflow:ellipsis;
}
#leftpart{
	width:35%;
	min-width:35%;
	text-align:right;
	float:left;
}
.div-menu{
    height: 40px;
	text-align:left;
display:inline-block;
height:100%;
width:65%;
}
.menu-logo{
	background: white url(../images/logo.png);
	background-size: contain;
	float:right;
	width:80px;
	height:80px;
}
}
@media (max-width: 1100px) {
#caption{
	font-size:200%;
	color:#3B3B3B;
	float:left;
	background-color:#ffffff;
	padding-top:16px;
	width:calc( 100% - 80px );
	overflow:hidden;
	text-overflow:ellipsis;
}
#leftpart{
	width:40%;
	min-width:40%;
	text-align:right;
	float:left;
}
.div-menu{
    height: 40px;
	text-align:left;
display:inline-block;
height:100%;
width:60%;
}
.menu-logo{
	background: white url(../images/logo.png);
	background-size: contain;
	float:right;
	width:80px;
	height:80px;
}
}
@media (max-width: 1000px) {
#caption{
	font-size:200%;
	color:#3B3B3B;
	float:left;
	background-color:#ffffff;
	padding-top:16px;
	width:100%;
	overflow:hidden;
	text-overflow:ellipsis;
}
#leftpart{
	width:40%;
	min-width:40%;
	text-align:right;
	float:left;
}
.div-menu{
    height: 40px;
	text-align:left;
	display:inline-block;
	height:100%;
	width:60%;
}
.menu-logo{
	display:none;
}
.menu-logo{
	display:none;
}
}
@media (max-width: 800px) {
#caption{
	display:none;
}
#leftpart{
	display:none;
}
.div-menu{
    height: 40px;
	text-align:left;
	display:inline-block;
	height:100%;
	width:100%;
}
.menu-logo{
	display:none;
}
}
/* --------------------about----------------------------- */
@media (min-width: 870px) {
.page-name{
	background: #3b3b3b;
	height:100px;
	width:100%;
	color:#ffffff;
	text-align:center;
	font-size:400%;
}
}
@media (max-width: 870px) {
.page-name{
	background: #3b3b3b;
	height:100px;
	width:100%;
	color:#ffffff;
	text-align:center;
	font-size:200%;
}
}
#under{
	font-size:200%;
	margin-top:20px;
	height:auto;
}
#underunder{
	font-size:170%;
	margin-top: 20px;
	height:auto;
	color:#ffffff;
}
.disabled{
	background: #3b3b3b;
	color:#e8bbbb;
	height:auto;
	width:auto;
	font-size:20px;
	margin-top:0;
}
.skill{
	padding:10px;
	height:200px;
	width:200px;
	background-color:#cd3232;
	color:#FFFFFF;
	text-align:center;
	font-size:150%;
	vertical-align:middle;
	border: 2px solid #cd3232;
	border-top-left-radius: 100px;
	border-bottom-left-radius: 70px;
    border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-right: none;
	font-weight: 900;
}
/* border-bottom: [border-width || border-style || border-color] */
.ins{
	padding:15px;
	background: #3b3b3b;
	border: 2px solid #cd3232;
	border-radius: 40px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
    border-top-right-radius: 70px;
	border-bottom-right-radius: 120px;
	border-right: 10px solid #cd3232;
	border-left: none;
	color:#ffffff;
	font-size:120%;
}
.important{
	font-size: 120%;
	color: #ffffff;
	width:100%;
	text-align: center;
}
/* --------------------we----------------------------- */
.persona{
	height:200px;
	width:200px;
	margin-left:20px;
	border-radius: 100px;
	padding:0px;
	box-shadow: none;
}
#prib{
	background: white url(../images/prib.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#shem{
	background: white url(../images/shem.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#gri{
	background: white url(../images/gri.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#oneborder hr{
	border: 2px solid #ffffff;
	width:65%;
}
.bestvision{
    width: 90%;
    margin-left: 10%;
}
.shadow-none
li {
    list-style-type: none; /* Oae?aai ia?ea?u */
}
/*---------------------work------------------------------- */
.po{
	height:50px; width:50px;
	border-radius: 100px;
	margin:0 0px 0 0px;
	box-shadow: 0px 5px 10px 0px #140B01 ;
	display: inline-block;
	transition: top 1s, left 1s, width 1s, height 1s;
	z-index: 400;
	cursor: pointer;
}
.content{
	background-color:#3B3B3B;
	color:#ffffff;
	border: 2px solid #3B3B3B;
	padding: 20px;
	text-align: center;
	transition: height 1s, opacity 1s;
}
#ck{
	background: white url(../images/ck.jpg);
	background-size: contain;
}
#dev{
	background: white url(../images/logo.png);
	background-size: contain;
}
#sorman{
	background: white url(../images/sorman.jpg);
	background-size: contain;
}
#sultan{
	background: white url(../images/sultan.png);
	background-size: contain;
}
#ps{
	background: white url(../images/ps.jpg);
	background-size: contain;
}
#your{
	background: white url(../images/your.jpg);
	background-size: contain;
}
#cell{
	padding-left: 260px;
	height: 85px;
}
#img{
	max-width:100%;
	max-height: 90%;
	width:auto;
}
.slot{
	height:50px; width:50px;
	border-radius: 50px;
	background-color: #e6e6e6;
	display: inline-block;
	margin:0 50px 0 50px;
}
#arrow
{
	vertical-align: middle;
	font-size: 100%;
	color:#ffffff;
	text-align: center;
	z-index: 500;
	width:100%;
	float: left;
	display: inline;
}
#truearrow{
	position: absolute;
	opacity: 0.6;
	color:#ffffff;
	background-size: contain;
	background-position: 100% 0%;
	background-repeat: no-repeat;
	z-index: 500;
	font-size: 70px;
	padding-top: 50px;
	cursor: pointer;
	transition: opacity 1s;
}
#trueallow{
	position: absolute;
	opacity: 0.6;
	color:#ffffff;
	background-size: contain;
	background-position: 100% 0%;
	background-repeat: no-repeat;
	z-index: 500;
	font-size: 70px;
	padding-top: 50px;
	cursor: pointer;
	transition: opacity 0.5s;
}
#trueallow:hover{
	opacity: 1;
}
#truearrow:hover{
	opacity: 1;
}
#next{
    background: white url(../images/next.jpg);
	background-size: cover;
	height: 12px;
	width: 12px;
	display: inline;
}
.forimg{
	width: 80%;
	margin: 20px 0 20px 10%;
	height: 400px;
	background: #3b3b3b;
}
.trueoffer{
	background: white url(../images/head.jpg);
	background-size: cover;
	height: 540px;
	color:#FFFFFF;
	text-shadow:2px 2px 5px #000000;
	padding: 30px;
	transition: height 1s, opacity 1s;
	width:100%;
	display:none;
}
.white{
	font-size: 200%;
}
#right{
	width:60%;
	text-align: left;
	margin-left: 20%;
}
#right table{
	color:#FFFFFF;
	text-shadow:2px 2px 5px #000000;
	background: rgba(0,0,0,0.4);
	text-align: right;
	font-size: 120%;
	margin: 30px 0 30px 0;
	-webkit-border-vertical-spacing: 0px;
        border-radius: 20px;
}
input{
	width: 100%;
	height:100%;
	font-size:20px;
	background: rgba(0,0,0,0.4);
	color:#FFFFFF;
	height: 50px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
}
textarea{
	width: 100%;
	font-size:14px;
	background: rgba(0,0,0,0.4);
	color:#FFFFFF;
	height: 100px;
	resize: none;
	font-family: "Verdana";
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
}
/*e6e6e6*---------------main-------------color*/
.button{
	font-size:20px;
	background: #ffffff;
	color:rgba(0,0,0,0.8);
	height: 50px;
        border-radius: 20px;
	transition: background-color 0.5s, color 0.5s;
}
.button:hover{
	background: rgba(0,0,0,0.8);
	color: #FFFFFF;
}
.offer{
	background-color: #e6e6e6;
	border: 2px solid #50B6ED;
	height:200px;
	width:200px;
	margin-left:20px;
	border-radius: 40px;
    border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	padding:0px;
	color: #50B6ED;
	font-size: 400%;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border-right: none;
}
#more{
	transition: font-size 1s, color 0.5s;
	cursor: pointer;
}
a#more:hover{
	text-shadow:2px 2px 10px #BDB3B3;
	color:#ffffff;
}
a#more{
	text-decoration: underline;
}
#bluender{
	margin-top: 20px;
	font-size:30px;
	color:#ffffff;
	background: #3b3b3b;
	padding: 40px 0px 40px 0px;
	box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.4) ;
	text-shadow:3px 3px 5px rgba(0,0,0,0.9);
	height: 360px;
	min-width: 780px;
	transition: opacity 0.5s;
	opacity:0;
}
#small{
	font-size:25px;
	transition: color 1s;
}
#small a{
	color:#FFFFFF;
}
.nullfive{
	width:43%;
	text-align: center;
	padding:15px;
	margin: 20px 10px 20px 10px;
	font-size: 20px;
	border-radius: 60px;
	background: rgba(0,0,0,0.4);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	text-shadow:2px 2px 3px rgba(0,0,0,0.4);
}
#morepo {
	float:left;
	font-size: 20px;
}
#morews {
	float: right;
	font-size: 20px;
}
#first{
	background: #3b3b3b;
	min-height: 200px;
	max-height: 290px;
	padding: 5%;
	color:#FFFFFF;
	text-shadow:2px 2px 2px rgba(0,0,0,0.4);
	box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.4);
	transition: opacity 0.5s;
	opacity:0;
}
.half{
	width:48%;
	color:#FFFFFF;
	font-size: 30px;
	height: 150px;
	margin:1%;
	cursor: pointer;
	transition: width 0.8s, background 0.8s;        
        border-radius: 10px;
}
.half .top{
	width: 100%;
	overflow: hidden;
	height: 36px;
}
#ws{
	float: right;
	background: rgba(0,0,0,0.4) url(../images/ws.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 80px;
}
#ws:hover{
	background: rgba(205,50,50,0.4)  url(../images/ws.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#po:hover{
	background: rgba(205,50,50,0.4)  url(../images/po.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#po{
	background: rgba(0,0,0,0.4) url(../images/po.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	border-bottom-left-radius: 30px;
	border-top-left-radius: 80px;
}
.treesug{
	margin-top: 20px;
}
.oneinthree{
	margin:1%;
	width: 27%;
	display: inline-block;
	min-width: 270px;
	color:#FFFFFF;
	border-radius: 30px;
	padding: 5px 5px 5px 5px;
    text-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
background: linear-gradient(to top left, #3f4850 0%, #365462 46%, #3e5554 60%, #42554d 68%, #573d4e 100%) !important;
}
.treesug table{
	color:inherit;
	vertical-align: middle;
	text-align: center;
	background: rgba(0,0,0,0.4);
    -webkit-border-vertical-spacing: 5px;
	border-radius: 30px;
	color:inherit;
	padding: 0px;
	line-height:150%;
}
.treesug>table>tr:last-child{
	border-bottom-left-radius: 30px;
}

.treesug .button{
	border-radius: 20px;
	color:#e6e6e6;
	background: rgba(250,50,50,0.4);
	cursor: pointer;
	max-width: 326px;
	transition: background-color 0.5s, color 0.5s;
}
.treesug .button:hover{
	border-radius: 20px;
	background: #309135;
}
.treesug table tr{
	height:68px;
}
.demimg{
	height: 100px;
	padding: 0px;
}
#imonpa{
	background:rgba(0,0,0,0.4) url(../images/onepage.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#imvisi{
	background:rgba(0,0,0,0.4) url(../images/visitka.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#imintershop{
	background:rgba(0,0,0,0.4) url(../images/intershop.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#impo{
	background:rgba(0,0,0,0.4) url(../images/po.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#imorder{
	background:rgba(0,0,0,0.4) url(../images/order.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#imqueue{
	background:rgba(0,0,0,0.4) url(../images/queue.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#impayonlay{
	background:rgba(0,0,0,0.4) url(../images/payonlay.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#impublic{
	background:rgba(0,0,0,0.4) url(../images/public.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#imsmart{
	background:rgba(0,0,0,0.4) url(../images/smart.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.poimg{
	background-color:rgba(0,0,0,0.4);
	height: 50px;
	width: 50px;
}
#helptd{
height:auto;
text-align:left;
font-size:80%;
}
#helptd td{
	padding:2px;
	border-bottom: 4px solid rgba(205,50,50,0.4);
}
#ruble{
	background-image: url(../images/ruble.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border-spacing:0px;
}
#mandb{
	background-image: url(../images/mandb.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#hosting{
	background-image: url(../images/hosting.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#reports{
	background-image: url(../images/reports.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#users{
	background-image: url(../images/users.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#onlypo{
	width: 45%;
}
#onlypo table td{
	padding:5px 15px;
}
#void{
	border-bottom: 4px solid rgba(0,0,0,0.4);
}
#postimg{
	background:rgba(0,0,0,0.4);
}
#years{
	background:rgba(0,0,0,0.4) url(../images/years.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#business{
	background:rgba(0,0,0,0.4) url(../images/business.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 20%;
}
#projects{
	background:rgba(0,0,0,0.4) url(../images/projects.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 20%;
}
.thanks{
	width:100%;
	background:#cd3232;
	font-size:30px;
	height:120px;
	display: table-row;
	vertical-align:middle;
	color:#ffffff;
}
/*----------------------contacty------------------------------------------------*/
.contact{
	color: #FFFFFF;
	background: #3b3b3b;
	font-size: 20px;
	width:100%;
	display: inline-block;
	padding:20px 0px 20px 0px;
	letter-spacing: 3px;
    text-shadow: 2px 2px 5px #000000;
}
#phone{
	background: url(../images/phone.png);
	background-size: 100px auto;
	background-repeat: no-repeat;
	background-position: center top;
	height:100px;
}
#email{
	background:url(../images/mail.png);
	background-size: 100px auto;
	background-repeat: no-repeat;
	background-position: center top;
	height:100px;
}
#email a{
color:#ffffff;
text-decoration:none;
}
.div-info{
	color: #FFFFFF;
	font-size: 30px;
	width:40%;
	display: inline-block;
padding:20px 0;
}
#bgk{
padding:10px calc( 5% - 20px);
min-width:768px;
}
}
#contbgk{
	background: #3b3b3b;
}
#location{
	color:#ffffff;
	width:100%;
	padding-top:20px;
	padding-bottom:20px;
	background: #3b3b3b;
}
.town{
	background:rgba(59,59,59,0.8);
	color:#ffffff;
	font-size:19px;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
    margin-right:10px;
	border-radius:20px;
	border: 2px outset #cd3232;
}
#question{
text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
width:100%;
background:rgba(205,50,50,0.7);
width:100%;
border-radius: 0px;
padding-left:0px;
padding-right:0px;
transition:background 2s,width 1s,border 1s;
color:#ffffff;
margin:0%;
}
#question:hover{
background:none;
width:50%;
border-radius:50px;
}
#vk_groups{
width:90%;
margin:5%;
}
/*--------------------------new---------------------------*/
#firstswipp{
	background: #3b3b3b;
	min-height: 350px;
	max-height: 350px;
	color:#FFFFFF;
	text-shadow:2px 2px 2px rgba(0,0,0,0.4);
	box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.4);
	transition: opacity 0.5s;
	opacity:0;
	overflow:hidden;
	white-space:nowrap;
	width:102%;
margin-left:-1.5%;
	position:relative;
	border-radius: 5px;
	margin-top:20px;
}
.halfswipp{
	width:100%;
	color:#FFFFFF;
	font-size: 30px;
	height: 100%;
	cursor: pointer;
	position:absolute;
	/*transition: top 0.8s, left 0.8s;*/
	display:inline-block;
}
.nullfiveswip{
	width:100%;
	color:#FFFFFF;
	text-align: center;
	padding:20px 0px 20px 0px;
	font-size: 20px;
	cursor: pointer;
	position:absolute;
	/*transition: top 0.8s, left 0.8s;*/
	display:inline-block;
	background: #cd3232;
	left:0px;
	float: left;
}
.halfswipp .top{
	width: 100%;
	overflow: hidden;
	height: 36px;
	padding:5px 0px 20px 0px;
	background: rgba(0,0,0,0.6);
}
#wsswipp{
	background: rgba(0,0,0,0.4) url(../images/reklamaws.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#poswipp{
	background: rgba(0,0,0,0.4) url(../images/reklamapo.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	left:0px;
}
#textswipp{
height: 65px;
position:relative;
overflow: hidden;
	background: #3b3b3b;
}
/*----------chose------------*/
#fnew{
	background: #3b3b3b;
	color:#FFFFFF;
	text-shadow:2px 2px 2px rgba(0,0,0,0.4);
	transition: opacity 0.5s;
}
#nstrip{
	font-size:20px;
	padding:20px;
}
#smallstrip{
	font-size:14px;
	padding:10px;
	text-align:right;
}
#smallstrip a{
	color:#ffffff
}
#newws{
	float: right;
	background: rgba(0,0,0,0.4) url(../images/ws.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
}
#newws:hover{
	background: rgba(205,50,50,0.4)  url(../images/ws.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	color:rgba(0,0,0,0);
	text-shadow:none;
}
#newpo:hover{
	background: rgba(205,50,50,0.4)  url(../images/smartandpo.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	color:rgba(0,0,0,0);
	text-shadow:none;
}
#newpo{
	background: rgba(0,0,0,0.4) url(../images/poandsmart.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}
@media (min-width: 870px) {
.hnew{
	width:48%;
	color:#FFFFFF;
	font-size: 30px;
	cursor: pointer;
	transition: all 0.8s;
	padding:20px 1%;
	display:inline-block;
	vertical-align:middle;
	height:36px;
}
}
@media (max-width: 870px) {
.hnew{
	width:48%;
	color:#FFFFFF;
	font-size: 18px;
	cursor: pointer;
	transition: all 0.8s;
	padding:20px 1%;
	display:inline-block;
	vertical-align:middle;
	height:36px;
}
}
@media (min-width: 1100px) {
.newtret{
	border-radius: 50px;
	height:100px;
	width:100px;
	padding:0px;
	border:2px solid #fff;
}
.say{
	font-size:20px;
	height:100px;
}
.desc
{
	font-size:16px;
	height:70px;
}
}
@media (max-width: 1100px) {
.newtret{
	border-radius: 40px;
	height:80px;
	width:80px;
	padding:0px;
	border:2px solid #fff;
}
.say{
	font-size:16px;
	height:100px;
}
.desc
{
	font-size:12px;
	height:70px;
}
}
@media (max-width: 1000px) {
.newtret{
	border-radius: 40px;
	height:80px;
	width:80px;
	padding:0px;
	border:2px solid #fff;
}
.say{
	font-size:13px;
	height:100px;
}
.desc
{
	font-size:10px;
	height:70px;
}
}
#redfirst{
	font-size:110%;
}

#nyears{
	background:#cd3232 url(../images/years.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#nbusiness{
	background:#cd3232 url(../images/business.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
#nprojects{
	background:#cd3232 url(../images/projects.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.socdoc{
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
	padding:0px;
	line-height: 150%;
	width:100%;
	text-align:center;
	vertical-align:middle;
}
#workschema{
    -webkit-border-vertical-spacing: 5px;
	width:100%;
	text-align:center;
	vertical-align:middle;
}
#workschema img{
    height:65px;
}
#workschema td{
    padding:2px;
}
#workschema hr{
    width:50%;
}
.step{
	font-size:20px;
	height:100px;
}
.socdoc td{
	padding:0px;
}
.desc a{
	color:#ffffff;
}
.tret{
	width:28%;
	margin:5px 1%;
	display: inline-block;
}
#nbluender{
	color:#ffffff;
	background:  linear-gradient(to bottom left, #3f4850 0%, #365462 46%, #3e5554 60%, #42554d 68%, #573d4e 100%) !important;
	padding: 40px 0px 40px 0px;
	box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.4) ;
	transition: opacity 0.5s;
	max-width:100%;
}
#bluecaption{
	font-size:30px;
	margin-bottom:20px;
	width:100%;
}
#prev{
	background: #3b3b3b;
	min-height: 20px;
	max-height: 20px;
	color:#FFFFFF;
	text-shadow:2px 2px 2px rgba(0,0,0,0.4);
	transition: opacity 0.5s;
}
#interes li{
    display: inline-block;
    vertical-align: middle;
	margin:10px 0px;
}
#interes li:before{
    content: "#";
	font-weight:900;
	margin-right:-5px;
	color:#cd3232;
}
#interes li:after{
     content: "\00a0\00a0\00a0";
}
#interes li a{
     color:#ffffff;
}

/*----------------------------------------------------------articles--------------------*/
#article{
text-align:justify;
width:80%;
background-color:#ffffff;
color:#3b3b3b;
padding:40px 50px;
box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.4);
margin: 0px 0px 30px calc( 10% - 40px );
}
#article img{
max-width:100%;
max-height:150px;
margin:20px;
}
#article div{
float:left;
text-align:justify;
}
#article ul{
 list-style-type: none;
text-align:left;
}
#article ul li:before{
content:"■";
padding-right:15px;
color:#cd3232;
}
#gray{
color:gray;
font-size:90%;
}
#article .attention{
border:10px groove #cd3232;
padding:20px;
}
#article #fact{
font-weight:bold;
color:#cd3232;
}
#help{
position:absolute;
width:20%;
min-width:180px;
height:auto;
display:none;
background-color:#ffffff;
border-radius:20px;
border:2px solid #3b3b3b;
color:#3b3b3b;
padding:20px;
}
.gethelp{
text-decoration:underline;
cursor: pointer;
}
#help hr{
width:60%;
border-color:#cd3232;
}
#helpcap{
font-size:110%;
font-weight:600;
}
#helpabout{
font-size:100%;
}
#helpcase{
font-size:80%;
}