.treesug table tbody tr{
	transition:background 0.6s;
	min-height:78px;
}
.treesug table tbody tr:hover{
	background:rgba(205,50,50,0.5);
}
.ab{
	transition:background 0.6s;
	min-height:78px;
}
.ab:hover{
	background:rgba(205,50,50,0.5);
}
.treesug{
margin-top:0px;
padding-bottom: 30px;
background:linear-gradient(to bottom left, #3f4850 0%, #365462 46%, #3e5554 60%, #42554d 68%, #573d4e 100%) !important;
}
#onlypo {
    margin-left: 10%;
width:80%;
}