<a href="itms-services://?action=download-manifest&url=https://xn--29-6kcaaf4b0a9apc1a.xn--p1ai/ip/manifest.plist">Âåðñèÿ äëÿ ðóêîâîäèòåëÿ</a>

<br>
<a href="itms-services://?action=download-manifest&url=https://xn--29-6kcaaf4b0a9apc1a.xn--p1ai/ip/cl/manifest.plist">Âåðñèÿ äëÿ êëèåíòîâ</a>
<br>
<a href="https://xn--29-6kcaaf4b0a9apc1a.xn--p1ai/ip/abc_service.ipa">Âåðñèÿ äëÿ êëèåíòîâ</a>
<br>
<a href="https://xn--29-6kcaaf4b0a9apc1a.xn--p1ai/ip/nerab.wav">QQQ</a>
<br>
<a href="https://xn--29-6kcaaf4b0a9apc1a.xn--p1ai/ip/buse.wav">QQQ</a>