<script>
document.title = "О базах данных";
</script>
<h2>Базы данных <span id="gray">и работа со статистикой</span></h2><hr>
<br>База данных -  некоторый набор постоянно хранимых данных, используемых прикладными программными системами какого-либо предприятия<br><br>
<p class="attention">База данных является важной частью любой организации.</p>
<p>База данных решает большое количство задач. К примеру:
<ul>
<li>избавляет от избыточности хранимую информацию
<li>увеличивает скорость обработки информации <span id="gray">(поиск, изменение, добавление, удаление, защита)</span>
<li>используется для автоматизации других процессов <span id="gray">(создание и выгрузка отчётов, работа с клиентами и т.д.)</span>
</ul>
</p>
<br>
<h4>Несколько фактов</h4>
<img src="modules/articles/database/1.png" align="right" />
<ul>
<p><li>Многообразие моделей данных позволяют разработать базу под конкретные задачи и в рамках определённого бюджета, при том качество результата останется на высоте. </p>
<p><li>Разделение пользователей базы по ролям позволит распределить нагрузку и ответственность на каждого сотрудника.</p>
<p><li>Хранимые данные легко представить в виде графика, диаграммы и др. В конечном итоге база данных позволит разработанной программе наглядно продемонстрировать работу организации или собираемую Вами статистику.</p>
</ul>
<br><br> <hr>