<script>
document.title = "О системе управления персоналом";
</script>
<h2>Система управления персоналом</h2><hr>
<br>
<img src="modules/articles/hrm/1.png" align="left" />
Разработка29 предлагает вам большой спектр продуктов, в том числе и систему управления персоналом (human resources management – управление человеческими ресурсами.<br><br>
HRM-системы позволяют решить две основных задачи:
<h4>1. упорядочить все учетные и расчетные процессы, связанные с персоналом;</h4>
<h4>2. снизить потери, связанные с уходом сотрудников.</h4>
<p>Аналитики компании Molga выделяют следующие задачи HRM-системы:<p><ul>
<li>привлекать, удерживать и мотивировать лучший персонал;
<li>достигать реализации стратегических целей компании, декомпозируя их до уровня каждого сотрудника;
<li>реализовывать развитие и обучение кадрового потенциала в соответствии с целями компании и ее подразделений;
<li>осуществлять стратегическое планирование организационных изменений и формировать бюджеты;
<li>своевременно принимать эффективные решения, основываясь на точном и всестороннем информационном анализе;
<li>с низкими затратами и оптимально осуществлять учетные функции в области управления персоналом.
 </ul> <hr>