<script>
document.title = "Управление взаимоотношениями с клиентами";
</script>
<h2>Управление взаимоотношениями с клиентами</h2><hr>
<br>
<h4>Система управления взаимоотношениями с клиентами</h4>
(CRM, CRM-система, сокращение от Customer Relationship Management) -  прикладное программное обеспечение для организаций, предназначенное для автоматизации стратегий взаимодействия с заказчиками (клиентами), в частности для:
<ul><li>повышения уровня продаж, 
<li>оптимизации маркетинга,
<li>улучшения обслуживания клиентов <span id="gray">(путём сохранения информации о клиентах и истории взаимоотношений с ними, установления и улучшения бизнес-процессов и последующего анализа результатов) </span>
</ul>
<p class="attention">CRM — модель взаимодействия, основанная на постулате, что <strong>центром всей философии бизнеса является клиент</strong>, а главными направлениями деятельности компании являются меры по обеспечению эффективного маркетинга, продаж и обслуживания клиентов.</p>
<img src="modules/articles/crm/1.png" align="right" />
<h4>Основные принципы</h4><ul>
<li>Наличие единого хранилища информации, куда собираются сведения о взаимодействии с клиентами — клиентской базы.
<li>Использование многих каналов взаимодействия.<span id="gray">(обслуживание на точках продаж, телефонные звонки, электронная почта, мероприятия, встречи, регистрационные формы на веб-сайтах, рекламные ссылки, чаты, социальные сети.)</span>
<li>Анализ собранной информации о клиентах и подготовка данных для принятия соответствующих организационных решений.<span id="gray">(например, сегментация клиентов на основе их значимости для компании, потенциальном отклике на те или иные промоакции, прогнозе потребности в тех или иных продуктах компании).</span></ul>
  <hr>