<script>
document.title = "О автоматизированной рассылки email";
</script>
<h2>Рассылка электронной почты</h2><hr>
<br>Рассылка электронной почты — средство массовой коммуникации, группового общения и рекламы, один из инструментов Интернет-маркетинга. Заключается в автоматизированной рассылке сообщений электронной почты группе адресатов по заранее составленному списку.<br><br>
<p>Рассылка как инструмент маркетинга относится к прямому маркетингу и может быть в форме почтовых рассылок (письма, буклеты, каталоги, открытки, пригласительные), электронных писем или SMS.
</p>
<p class="attention">Рассылка электронной почты является очень сильным маркетинговым инструментом</p>
<h4>Программа рассылки электронной почты</h4> включает в себя
 <img src="modules/articles/mail/1.png" align="left" />
<ul>
	<p><li>Базу, содержащую список адресатов <span id="gray">(возможно подключение к Вашей клиентской базе)</span></p>
    <p><li>Модуль редактирования сообщения <strong>в формате HTML</strong><span id="gray">(данный модуль позволяет формировать читабельные сообщения, которые значительно повысят ваши продажи, и, при необходимости, выбирать файлы для вложения) </span></p>
  	<p><li>Модуль настроек<span id="gray">(настройка параметров отправки, таких как сервер отправки и т.д.)</span></p>
  	<p><li>Модуль отправления<span id="gray">(позволяет автоматизировать рассылку, т.е. отправлять сообщения автоматически в соответствии с составленным планом)</span></p>
    <p><li>Журнал<span id="gray">(история отправлений)</span></p>
</ul>

 <hr>