<h2>Разработка мобильного приложения</h2><hr>
<br>Мобильное приложение – это самостоятельный программный продукт, устанавливаемый под необходимую операционную систему устройства (смартфона, планшетного компьютера и т.п.).</p>
<p class="attention">Разработка мобильных бизнес приложений должна исходить в первую очередь из задач для этих приложений – в этом основная стратегия выбора.</p>
<h4>Почему важно иметь собственное приложение?</h4> 
 <img src="modules/articles/mobi/1.png" align="left" />
<p>Смартфонами пользуются все.<br><span id="fact">Что проще потенциальному клиенту:</span>
  <ul><li>найти в интернете номер телефона, <li>найти каталог(меню), <li>выбрать товар(продукт), <li>позвонить, <li>заказать и ждать доставки(всё при том, что при себе имеются наличные)</ul> или <strong>зайти в приложение</strong>, выбрать из каталога продукт, заказать и оплатить его?</p>
<p><span id="fact">Что позволит больше заработать:</span><br> реклама с номером телефона, или программа, при запуске которой появляется предложение воспользоваться вашими услугами сегодня по невероятной цене?</p>
<p class="attention">Если Вы попадёте к клиенту в телефон, Вы делаете его постоянным. Но это возможно только в случае, если ваше приложение - удобный, быстрый и выгодный сервис.<br>В этом и состоит задача команды разработка29</p>
 <hr>